@charset "UTF-8";

body {
	background-color: rgb(215, 255, 194);
}

div#interface {
	width: 900px
	background-color: rgb(236, 255, 230);
	margin: 100px auto auto auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
	padding: 10px;
	font-size: 16pt;
}

div#interface p, a {
	text-decoration: none;
	color: #000;
}

section#corpo {
	padding-bottom: 10px;
}

footer#rodape {
	border-top: 1px #606060 solid;
}

footer#rodape p {
	text-align: center;
}